{erl_first_files, []}.
{erl_opts, [
	warnings_as_errors,
	debug_info
]}.
{sub_dirs, [
	"apps/jd_utils",
	"apps/jd_shaping",
	"apps/jd_pt",
	"apps/jd_xml",
	"apps/jd_hooks"
]}.
{deps_dir, "deps"}.
{deps, [
	{gin, ".*", {git, "https://github.com/mad-cocktail/gin.git", "HEAD"}},
	{unistring, ".*", {git, "https://github.com/RGafiyatullin/unistring.git", {branch, "master"}}},
	{'iso8601', ".*", {git, "https://github.com/seansawyer/erlang_iso8601.git", {tag, "1.1.1"}}},
	{erlando, ".*", {git, "https://github.com/rabbitmq/erlando.git", "HEAD"}},
	gproc
]}.
{lib_dirs, []}.
